note/write_up.aux
note/write_up.bbl
note/write_up.blg
note/write_up.fdb_latexmk
note/write_up.fls
note/write_up.log
note/write_up.out
.vscode/settings.json
note/tags/rho.omega.v0.pdf
note/tags/rho.omega.v2.pdf
note/tags/rho.omega.v3.pdf
note/tags/rho.omega.v4.pdf
notebooks/Adams_model.ipynb
notebooks/analytic_expression_for_Kmat_amplitude.ipynb
notebooks/three_channel_Flatte.ipynb
note/write_up.synctex.gz
note/write_up.pdf

*-checkpoint*